/* NAVIGATION BAR STYLING */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
}

.navbaren a {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-decoration: none;
}

.navbaren {
  list-style: none;
  display: flex;
}

.navbaren li {
  padding: 0px 20px;
}

.navbaren li a {
  transition: color 0.2s ease 0s;
}

/* DESKTOP DEVICE ONLY (OVER 791px) */
@media(min-width: 791px) {
  #logo-m {
    display: none;
  }
}

/* MOBILE DEVICES ONLY (UNDER 790px) */
@media(max-width: 790px) {
  .navbaren a {
    text-transform: uppercase;
  }

  #logo {
    display: none;
  }
}
