/* BODY STYLING */
body {
  background-color: #f7f7f7;
  color: #5c7285;
  text-align: left;
}

/* NAV-BAR SOURCES.HTML */
navbar {
  background-color: #f7f7f7;
}

.navbaren a {
  color: #008364;
}

.navbaren li a:hover {
  color: #000;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

h1, h2, h3,h4 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

h1 {
  text-align: center;
}

p {
  margin: 0;
  padding: 0;
  text-align: left;
}

a {
  word-wrap: break-word;
}

.source {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background-color: #f0f4f8;
  padding: 1em;
  margin: 1%;
}

ul.first_line {
  padding-left: 3em;
  padding-bottom: 1em;
}

ul.second_line {
  padding-left: 1em;
  padding-right: 1em;
}
li.articles {
  padding-bottom: 1em;
}
li.group {
  padding-bottom: 1em;
}
