/* NAV */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

navbar {
  display: flex;
  background-color: #1f0035;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;

}

.navbaren a {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: #efefef;
  text-decoration: none;
}

.active {
  border-bottom: 4px solid #FFF;
  padding-bottom: 2px;
}

.active:hover {
  border-bottom: 3px solid #269D7D;
}

.navbaren {
  list-style: none;
  display: flex;
}

.navbaren li {
  padding: 0px 20px;
}

.navbaren li a {
  transition: color 0.2s ease 0s;
}

.navbaren li a:hover {
  color: #269D7D;
}

/* NAV */

/* Base */
body {
  margin: 0;
  background: #efefef;
  color: #748a9d;
  font-size: 1.1em;
  line-height: 1.5;
  text-align: center;
  font-family: 'Lora', serif;
}

img {
  display: block;
  width: 100%;
  height: auto;
}
.bilde img:hover {
  transform: scale(1.1);
  transition: transform 1s;
}

h1, h2, h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  padding: 1em 0;
}

h2 {
  font-size: 28px;
}
h3 {
  font-size: 24px;
}

p {
  margin: 0;
  padding: 1em 0;
  text-align: justify;
  font-size: 20px;
}
.bottom {
  text-align: center;

}

#kontakt {
  text-align: center !important;
}

.bilde {
  box-shadow: 0 0 0 0 !important;
}

.icons {
  width: 128px;
  height: 128px;
  margin-left: auto;
  margin-right: auto;
}

.tekst {
  background-color: #f0f4f8;
}


.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.icon-mobile img {
  width: 64px;
  height: 64px;
  float: left !important;
}

#devices {
  width: 80%;
  height: 80%;
}

.card-content,
.tekst {
  border-radius: 10px;
}

.content-text p {
  text-align: center;
}

.btn {
  display: inline-block;
  margin-right: 15px;
  background: #269D7D;
  color: white;
  text-decoration: none;
  padding: 0.5em 2.3em;
  border: 1px solid #666;
  border-radius: 10em;
  margin-bottom: 5px;

}

.btn:hover {
  transform: scale(1.1);
  transition: transform 1s;
}

/* Header */
#showcase {
  min-height: 450px;
  color: #fff;
}

#showcase .bg_image {
  position: absolute;
  background: #333 url("../img/univer.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 600px;
  z-index: -1;
  opacity: 0.4;
}

#showcase h1 {
  padding-top: 100px;
  padding-bottom: 0;
  text-align: center;
}

#showcase p {
  width: 80%;
  text-align: cen;
  margin-left: auto;
  margin-right: auto;
}

#showcase .content-wrap,
#section-a .content-wrap {
  padding: 0;
}

/* Del - A */
#section-a {
  background: #1f0035;
  color: #FFF;
  padding-bottom: 2em;
  padding-top: 0.001em;
}
.nav-grid li {
  list-style: none;
}

/* Del - B */
#section-b {
  padding: 2em 1em 1em;
    background-color: #f7f7f7;
}

#section-b ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#section-b li {
  margin-bottom: 1em;
  color: #333;

}

.card-content {
  padding: 1.5em;
}

/* Del - C */
#section-c {
  background: #fff;
  color: #333;
  padding: 2em;
}

/* Del - D */
#section-d .box {
  padding: 2em;
  color: #ffffff;
  background: #310057;
}

#section-d .box:first-child {
  background: #36005d;
}

/* Footer */
#main-footer {
  padding: 2em;
  background: #1f2833;
  color: #fff;
  text-align: center;
}

#main-footer a {
  /*color: #88a2e3;*/
  text-decoration: none;
}


/* Shows only on desktop browser (more then 791px) */
@media(min-width: 791px) {

  /* NAV */

  #logo-m {
  display: none;
  }

  /* NAV */

  .logo-m {
    display: none;
  }

  #mobile-only-nav {
    display: none !important;
  }


  #devices-mobile {
    display: none;
  }

  .mobilepicture {
    display: none;
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr repeat(2, minmax(auto, 35em)) 1fr;
  }
/*Indexpage styling-start
  .nav-grid {
    display: grid;
 justify-content: space-around; 
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 4.5em;
    list-style: none;
  }
Indexpage styling-end */

  #section-a .content-text {
    text-align: left;
    columns: 1;
    column-gap: 0.5em;
  }

  .content-wrap, #section-b ul {
    grid-column: 2/4;
  }

  .box, #main-footer div {
    grid-column: span 2;
  }


  #section-c img {
    margin-left: 10%;
    margin-right: 10%;
  }


  #section-c p {
text-align: center;
  }

  #section-b ul {
    display: grid;
    justify-content: space-around;
    grid-template-columns: 1.7fr 1fr;
    /* grid-column-gap: 1em; */
  }

  .left {
    grid-template-columns: 1fr 1.7fr !important;
  }

  /* ul#options {
    padding-left: 40px;
    font-size: 16px;
    text-align: left;
    grid-template-columns: 1fr;
    list-style-type: square;
  } */
  #section-b li {
    width: 90%;
  }


  #section-d .box:last-child p {
    text-align: justify;
  }
}

/* MOBILE - VIEW - ONLY */
@media(max-width: 790px) {
 /* NAVBAR */
   .navbaren a {
     text-transform: uppercase;
   }

 #logo {
   display: none;
 }
 /* NAVBAR */

#all {
  display: none !important;
}

  .bilde {
    display: none;
  }

  #devices {
    display: none;
  }

  #devices-mobile {
    width: 100%;
    height: 100%;
  }

  .icons {
    width: 72px;
    height: 72px;
    float: left;
    margin-top: 10px;
  }

  #section-a {
    text-align: center;
    font-size: 16px;
  }
header{
    justify-content: center !important;
}
  h3 {
    text-decoration: underline;
  }
}
